.advanced-page-title {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-position: center;
  background-size: cover;
  position: relative;
}
.advanced-page-title::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
  background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
  opacity: 0.4;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.advanced-page-title-wrapper {
  z-index: 1;
  position: relative;
}