{{ attach_library('advanced_title_block/global') }}

{% if title %}
  <div class="advanced-page-title" style="background-color:{{color}};background-image:url({{image}})">

      <div class="advanced-page-title-wrapper container py-5">
        <h1 class="text-white title mb-3">{{title}}</h1>
        {% if text %}
          <p class="lead text-white">{{text}}</p>
        {% endif %}
      </div>
      <div class="img-caption">
        {{image_title}}
      </div>
  </div>
{% endif %}
